
.main-header {
    background-color: #5691c1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

.main-header:before {
    background: linear-gradient(54deg,rgba(66, 142, 241, 0.95) 34%,rgba(193, 67, 252, 0.89));
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: 0;
    opacity: .9;
}

/* 
* Profile, Bio , Contact Info *
*/

.portfolio-box {
    color: #fff;
    font-family: Roboto Mono,monospace;
    padding-top: 90px
}

.portfolio-box .profile-picture img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96,96,96,.34);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px
}

.portfolio-box .name { 
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}

.portfolio-box .profile-picture img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96,96,96,.34);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px
}

.bio-list {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace
}

.bio-list dt {
    float: left;
    font-weight: 700;
    text-transform: uppercase
}

.bio-list dd {
    padding-left: 100px;
    margin-bottom: 15px
}

.bio-list dd a {
    color: #fff
}

.fa-linkedin-in{  
    color: #fff
}

.fa-github{
    color: #fff
}



.fa-linkedin-in, .fa-github{  
    opacity: .4
}

.bio-list.bio_opacity-titles dt {
    opacity: .4
}




/* 
* Skills & Progress Bar Style *
*/

.myskills {
    margin-top: 30px
}

.myskills .myskills_title {
    font-family: Roboto Mono,monospace;
    letter-spacing: 5px;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px
}

 .myskill p {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase
}

.myskills .myskills_title{
    font-size: 35px;
    line-height: 20px;
    text-transform: uppercase
}

.myskills p {
    width: 100%;
    font-family: Inconsolata,monospace;
    margin-bottom: 10px
}

.myskills p .myskill-value {
    float: right
}

.myskills .progress {
    height: 6px;
    margin-bottom: 30px
}

.myskills .progress .progress-bar {
    background-color: #3184d1
}


/* 
* Work Box *
*/

#portfolio-box{
   /* background-color: #3184d1; */
   border: 0;
}

#projects-h1{
    font-family: Inconsolata,monospace;
    margin-bottom: 10px
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}