
.main-header {
    background-color: #6d56c1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

.main-header:before {
    background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: 0;
}

.portfolio-box {
    color: #fff;
    font-family: Roboto Mono,monospace;
    padding-top: 90px
}

.portfolio-box .profile-picture img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96,96,96,.34);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px
}

.portfolio-box .name { 
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}





.portfolio-box .profile-picture img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96,96,96,.34);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px
}

.bio-list {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace
}

.bio-list dt {
    float: left;
    font-weight: 700;
    text-transform: uppercase
}

.bio-list dd {
    padding-left: 100px;
    margin-bottom: 15px
}

.bio-list dd a {
    color: #fff
}

.bio-list.bio-list__opacity-titles dt {
    opacity: .4
}


.fa-linkedin-in{  
    color: #fff
}

.fa-github{
    color: #fff
}

.fa-linkedin-in, .fa-github{  
    opacity: .4
}

/* Skills */ 

.resume-list {
    margin-top: 30px;
    margin-bottom: 30px
}

.resume-list .resume-list_title {
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px
}

.resume-list .resume-list__block {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    padding-bottom: 50px
}

.resume-list .resume-list__block p {
    margin: 0
}

.resume-list .resume-list__block:before {
    width: 12px;
    height: 12px;
    border: 2px solid #6d56c1;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: 10px
}


